<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger!</title>
	<link rel="stylesheet" type="text/css" href="../../public/assets/css/burger_style.css">
</head>
<body>

	<h1>Eat-Da-Burger!</h1>

	{{{body}}}

</body>
</html>